name: Windows Build
on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.7.0'
          arch: 'win64_mingw'

      - name: Setup MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
          platform: x64

      - name: Configure and Build
        run: |
          cmake -B build -G "MinGW Makefiles" .
          cmake --build build --config Release

      - name: Prepare Deployment
        run: |
          mkdir dist
          # Копируем все найденные exe из папки build в dist
          cp build/*.exe dist/
          # Запускаем сборку зависимостей для первого найденного exe
          $exeFile = Get-ChildItem -Path dist/*.exe | Select-Object -First 1
          windeployqt --dir dist $exeFile.FullName

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: PathFinder-Windows-Package
          path: dist/
